<launch>
    <arg name="map_path"/>

    <node pkg="map_server" type="map_server" name="map_server" output="screen" args="$(arg map_path)"/>

    <node pkg="amcl" type="amcl" name="amcl">
        <param name="use_map_topic" value="true"/>
        <!-- <param name="update_min_d" value="0.1" /> -->
        <!-- <param name="update_min_a" value="0.1" /> -->
        <!-- <param name="kld_err" value="0.10" /> -->
        <!-- <param name="max_particles" value="1000" /> -->
    </node>
</launch>
