<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <node pkg="rqt_multiplot" type="rqt_multiplot" name="plotter" output="screen" args="--multiplot-config $(find babybuggy_config)/rqt_config/rqt_multiplot.xml  --multiplot-run-all"/>
    <node name="visualization" pkg="rviz" type="rviz" />
</launch>
