<launch>
  <include file="$(find babybuggy_config)/launch/babybuggy_config.launch"/>
  <!--<include file="$(find babybuggy_config)/launch/babybuggy_sensors.launch"/>-->
  <include file="$(find babybuggy_config)/launch/babybuggy_odom.launch"/>
  <include file="$(find babybuggy_config)/launch/babybuggy_localize.launch"/>
  <node pkg="controller" type="controller_node" name="controller" output="screen"/>
</launch>
