<launch>
  <node name="steering" pkg="rosserial_python" type="serial_node.py">
      <param name="port" value="/dev/serial/by-id/usb-Adafruit_Adafruit_Metro_328_ADAOLANOp-if00-port0"/>
  </node>

  <node name="joystick" pkg="joy" type="joy_node">
    <param name="joy_node/dev" value="/dev/input/js0"/>
  </node>

  <node name="controller" pkg="controller" type="controller"/>
</launch>
