<launch>
    <include file="$(find babybuggy_config)/launch/babybuggy_config.launch"/>
    <include file="$(find babybuggy_config)/launch/babybuggy_sensors.launch"/>
    <node name="babybuggy_error_checker" pkg="babybuggy_error_checker" type="babybuggy_error_checker_node" output="screen" required="true"/>
</launch>
