<launch>
    <include file="$(find babybuggy_config)/launch/babybuggy_config.launch"/>
    <include file="$(find babybuggy_config)/launch/babybuggy_odom.launch"/>
    <include file="$(find babybuggy_config)/launch/babybuggy_gmapping.launch"/>
<!--    <include file="$(find babybuggy_config)/launch/babybuggy_sensors.launch"/>-->
</launch>
