<launch>
	<!-- sicktoolbox node  -->
	<param name="use_sim_time" value="true" />
	<node name="LIDAR" pkg="sicktoolbox_wrapper" type="sicklms">
		<param name="port" value="/dev/serial/by-id/usb-Prolific_Technology_Inc._USB-Serial_Controller-if00-port0" />
		<param name="baud" value="38400"/>
	</node>
	<!-- transforms node -->
	<node name="transforms" pkg="transforms" type="tf_broadcaster" />

	<node name="encoder" pkg="rosserial_python" type="serial_node.py">
		<param name="port" value="/dev/serial/by-id/usb-Silicon_Labs_CP2104_USB_to_UART_Bridge_Controller_00FEBA77-if00-port0"/>
	</node>

	<node type="naboris_arduino_bridge_node" name="naboris_arduino_bridge_node" pkg="naboris_arduino_bridge" required="true" output="screen">
		<param name="serial_port" type="string" value="/dev/serial/by-id/usb-Silicon_Labs_CP2104_USB_to_UART_Bridge_Controller_00FEBA78-if00-port0"/>
		<param name="serial_baud" type="int" value="115200"/>
	</node>

	<node name="gmapping" pkg="gmapping" type="slam_gmapping" args="scan:=scan" >
    	<param name="temporalUpdate" value="0.15" />
  	</node>


	<node name="tf_logger" pkg="tf_logger" type="tf_logger">
	</node>

</launch>

