<launch>
    <!-- sicktoolbox node  -->
    <node name="LIDAR" pkg="sicktoolbox_wrapper" type="sicklms">
        <param name="port" value="/dev/serial/by-id/usb-Prolific_Technology_Inc._USB-Serial_Controller-if00-port0" />
        <param name="baud" value="38400"/>
    </node>

    <node name="encoder" pkg="rosserial_python" type="serial_node.py">
        <param name="port" value="/dev/serial/by-id/usb-Silicon_Labs_CP2104_USB_to_UART_Bridge_Controller_00FEBA77-if00-port0"/>
    </node>

    <node name="steering" pkg="rosserial_python" type="serial_node.py">
        <param name="port" value="/dev/serial/by-id/usb-Silicon_Labs_CP2104_USB_to_UART_Bridge_Controller_00FEBA3D-if00-port0"/>
    </node>

    <node name="imu" type="naboris_arduino_bridge_node" pkg="naboris_arduino_bridge" required="true" output="screen">
        <param name="~serial_port" type="string" value="/dev/serial/by-id/usb-Silicon_Labs_CP2104_USB_to_UART_Bridge_Controller_00FEBA78-if00-port0"/>
        <param name="~serial_baud" type="int" value="115200"/>
    </node>

    <node name="tf_logger" pkg="tf_logger" type="tf_logger" output="screen"/>


    <node name="gmapping" pkg="gmapping" type="slam_gmapping" args="scan:=scan">
      <param name="~map_update_interval" value="0.1"/>
      <param name="~temporalUpdate" value="0.01"/>
      <param name="~throttle_scans" value="5"/>
      <!-- <param name="~delta" value="0.01" /> -->
      <param name="~iterations" value="5" />
      <param name="~particles" value="1"/>
      <!-- <param name="~lasamplerange" value="0.005"/> -->
      <!-- <param name="~lasamplestep" value="0.005"/> -->
      <!-- <param name="~angularUpdate" value="1"/> -->
      <!-- <param name="~linearUpdate" value="-1"/> -->
    </node>

    <!-- <node name="amcl" pkg="amcl" type="amcl" output="screen"/> -->

</launch>
